<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
    <ul class="navbar-nav mr-auto">
      <div class="row">
        <div class="col-md-3">
          <img src="../../../assets/playerone.png" width="40" height="40" class="img-left">
        </div>
        <div class="col-md-6">
          {{playerOne.name.toUpperCase()}} <br> {{playerOne.points}} points
        </div>
      </div>
    </ul>
  </div>
  <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
    <ul class="navbar-nav ml-auto">
      <div class="col-md-6">
        {{playerTwo.name.toUpperCase()}} <br> {{playerTwo.points}} points
      </div>
      <div class="col-md-3">
        <img src="../../../assets/playertwo.png" width="40" height="40" class="img-right">
      </div>
    </ul>
  </div>
</nav>
